<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.mapper.AddressDailySummaryMapper">
  <resultMap id="BaseResultMap" type="com.github.ontio.model.dao.AddressDailySummary">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="time" jdbcType="INTEGER" property="time" />
    <result column="contract_hash" jdbcType="VARCHAR" property="contractHash" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
</mapper>