<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.mapper.ContractMapper">
  <resultMap id="BaseResultMap" type="com.github.ontio.model.dao.Contract">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="contract_hash" jdbcType="VARCHAR" property="contractHash" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="update_time" jdbcType="INTEGER" property="updateTime" />
    <result column="audit_flag" jdbcType="BIT" property="auditFlag" />
    <result column="contact_info" jdbcType="VARCHAR" property="contactInfo" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="address_count" jdbcType="INTEGER" property="addressCount" />
    <result column="tx_count" jdbcType="INTEGER" property="txCount" />
    <result column="ont_sum" jdbcType="DECIMAL" property="ontSum" />
    <result column="ong_sum" jdbcType="DECIMAL" property="ongSum" />
    <result column="token_sum" jdbcType="VARCHAR" property="tokenSum" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="dapp_name" jdbcType="VARCHAR" property="dappName" />
    <result column="dappstore_flag" jdbcType="BIT" property="dappstoreFlag" />
    <result column="total_reward" jdbcType="DECIMAL" property="totalReward" />
    <result column="lastweek_reward" jdbcType="DECIMAL" property="lastweekReward" />
    <result column="abi" jdbcType="LONGVARCHAR" property="abi" />
    <result column="code" jdbcType="LONGVARCHAR" property="code" />
    <result column="source_code" jdbcType="LONGVARCHAR" property="sourceCode" />
  </resultMap>
  
  
  <insert id="batchInsert" parameterType="java.util.List">
    INSERT INTO `tbl_contract` (
    `contract_hash`,
    `name`,
    `abi`,
    `code`,
    `source_code`,
    `create_time`,
    `update_time`,
    `audit_flag`,
    `contact_info`,
    `description`,
    `type`,
    `logo`,
    `creator`,
    `address_count`,
    `tx_count`,
    `ont_sum`,
    `ong_sum`,
    `token_sum`,
    `category`,
    `dapp_name`,
    `dappstore_flag`,
    `total_reward`,
    `lastweek_reward`
    )
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.contractHash},
      #{item.name},
      #{item.abi},
      #{item.code},
      #{item.sourceCode},
      #{item.createTime},
      #{item.updateTime},
      #{item.auditFlag},
      #{item.contactInfo},
      #{item.description},
      #{item.type},
      #{item.logo},
      #{item.creator},
      #{item.addressCount},
      #{item.txCount},
      #{item.ontSum},
      #{item.ongSum},
      #{item.tokenSum},
      #{item.category},
      #{item.dappName},
      #{item.dappstoreFlag},
      #{item.totalReward},
      #{item.lastweekReward}
      )
    </foreach>
  </insert>
  
</mapper>