<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.blocksync.mapper.CurrentMapper">
  <resultMap id="BaseResultMap" type="com.github.ontio.blocksync.model.Current">
    <result column="block_height" jdbcType="INTEGER" property="blockHeight" />
    <result column="tx_count" jdbcType="INTEGER" property="txCount" />
    <result column="ontid_count" jdbcType="INTEGER" property="ontidCount" />
    <result column="nonontid_tx_count" jdbcType="INTEGER" property="nonontidTxCount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    block_height, tx_count, ontid_count, nonontid_tx_count
  </sql>
  <select id="selectByExample" parameterType="com.github.ontio.blocksync.model.CurrentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tbl_current
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.github.ontio.blocksync.model.CurrentExample">
    delete from tbl_current
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.github.ontio.blocksync.model.Current">
    insert into tbl_current
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="blockHeight != null">
        block_height,
      </if>
      <if test="txCount != null">
        tx_count,
      </if>
      <if test="ontidCount != null">
        ontid_count,
      </if>
      <if test="nonontidTxCount != null">
        nonontid_tx_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="blockHeight != null">
        #{blockHeight,jdbcType=INTEGER},
      </if>
      <if test="txCount != null">
        #{txCount,jdbcType=INTEGER},
      </if>
      <if test="ontidCount != null">
        #{ontidCount,jdbcType=INTEGER},
      </if>
      <if test="nonontidTxCount != null">
        #{nonontidTxCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.github.ontio.blocksync.model.CurrentExample" resultType="java.lang.Long">
    select count(*) from tbl_current
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_current
    <set>
      <if test="record.blockHeight != null">
        block_height = #{record.blockHeight,jdbcType=INTEGER},
      </if>
      <if test="record.txCount != null">
        tx_count = #{record.txCount,jdbcType=INTEGER},
      </if>
      <if test="record.ontidCount != null">
        ontid_count = #{record.ontidCount,jdbcType=INTEGER},
      </if>
      <if test="record.nonontidTxCount != null">
        nonontid_tx_count = #{record.nonontidTxCount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_current
    set block_height = #{record.blockHeight,jdbcType=INTEGER},
      tx_count = #{record.txCount,jdbcType=INTEGER},
      ontid_count = #{record.ontidCount,jdbcType=INTEGER},
      nonontid_tx_count = #{record.nonontidTxCount,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.github.ontio.blocksync.model.CurrentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tbl_current
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <resultMap id="BaseResultMap" type="com.github.ontio.blocksync.model.Current">
    <constructor>
      <arg column="block_height" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="tx_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ontid_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="nonontid_tx_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    block_height, tx_count, ontid_count, nonontid_tx_count
  </sql>
  <select id="selectByExample" parameterType="com.github.ontio.blocksync.model.CurrentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tbl_current
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.github.ontio.blocksync.model.CurrentExample">
    delete from tbl_current
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.github.ontio.blocksync.model.Current">
    insert into tbl_current
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="blockHeight != null">
        block_height,
      </if>
      <if test="txCount != null">
        tx_count,
      </if>
      <if test="ontidCount != null">
        ontid_count,
      </if>
      <if test="nonontidTxCount != null">
        nonontid_tx_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="blockHeight != null">
        #{blockHeight,jdbcType=INTEGER},
      </if>
      <if test="txCount != null">
        #{txCount,jdbcType=INTEGER},
      </if>
      <if test="ontidCount != null">
        #{ontidCount,jdbcType=INTEGER},
      </if>
      <if test="nonontidTxCount != null">
        #{nonontidTxCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.github.ontio.blocksync.model.CurrentExample" resultType="java.lang.Long">
    select count(*) from tbl_current
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_current
    <set>
      <if test="record.blockHeight != null">
        block_height = #{record.blockHeight,jdbcType=INTEGER},
      </if>
      <if test="record.txCount != null">
        tx_count = #{record.txCount,jdbcType=INTEGER},
      </if>
      <if test="record.ontidCount != null">
        ontid_count = #{record.ontidCount,jdbcType=INTEGER},
      </if>
      <if test="record.nonontidTxCount != null">
        nonontid_tx_count = #{record.nonontidTxCount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_current
    set block_height = #{record.blockHeight,jdbcType=INTEGER},
      tx_count = #{record.txCount,jdbcType=INTEGER},
      ontid_count = #{record.ontidCount,jdbcType=INTEGER},
      nonontid_tx_count = #{record.nonontidTxCount,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.github.ontio.blocksync.model.CurrentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tbl_current
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>