<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.mapper.DailySummaryMapper">
  <resultMap id="BaseResultMap" type="com.github.ontio.model.dao.DailySummary">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="time" jdbcType="INTEGER" property="time" />
    <result column="block_count" jdbcType="INTEGER" property="blockCount" />
    <result column="tx_count" jdbcType="INTEGER" property="txCount" />
    <result column="active_ontid_count" jdbcType="INTEGER" property="activeOntidCount" />
    <result column="new_ontid_count" jdbcType="INTEGER" property="newOntidCount" />
    <result column="ont_sum" jdbcType="DECIMAL" property="ontSum" />
    <result column="ong_sum" jdbcType="DECIMAL" property="ongSum" />
    <result column="active_address_count" jdbcType="INTEGER" property="activeAddressCount" />
    <result column="new_address_count" jdbcType="INTEGER" property="newAddressCount" />
  </resultMap>
</mapper>