<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.mapper.Oep5DragonMapper">
  <resultMap id="BaseResultMap" type="com.github.ontio.model.dao.Oep5Dragon">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="contract_hash" jdbcType="VARCHAR" property="contractHash" />
    <result column="asset_name" jdbcType="VARCHAR" property="assetName" />
    <result column="json_url" jdbcType="VARCHAR" property="jsonUrl" />
  </resultMap>


  <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO `tbl_oep5_dragon` (
      `contract_hash`,
      `asset_name`,
      `json_url`
    )VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.contractHash},
      #{item.assetName},
      #{item.jsonUrl}
      )
    </foreach>

  </insert>

</mapper>