<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.mapper.Oep5TxDetailMapper">
  <resultMap id="BaseResultMap" type="com.github.ontio.model.dao.Oep5TxDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="tx_hash" jdbcType="VARCHAR" property="txHash" />
    <id column="tx_index" jdbcType="INTEGER" property="txIndex" />
    <result column="tx_type" jdbcType="INTEGER" property="txType" />
    <result column="tx_time" jdbcType="INTEGER" property="txTime" />
    <result column="block_height" jdbcType="INTEGER" property="blockHeight" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="fee" jdbcType="DECIMAL" property="fee" />
    <result column="asset_name" jdbcType="VARCHAR" property="assetName" />
    <result column="from_address" jdbcType="VARCHAR" property="fromAddress" />
    <result column="to_address" jdbcType="VARCHAR" property="toAddress" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="block_index" jdbcType="INTEGER" property="blockIndex" />
    <result column="confirm_flag" jdbcType="INTEGER" property="confirmFlag" />
    <result column="event_type" jdbcType="INTEGER" property="eventType" />
    <result column="contract_hash" jdbcType="VARCHAR" property="contractHash" />
    <result column="payer" jdbcType="VARCHAR" property="payer" />
    <result column="called_contract_hash" jdbcType="VARCHAR" property="calledContractHash" />
  </resultMap>

  <delete id="deleteByHeight" parameterType="java.lang.Integer">
    delete from tbl_oep5_tx_detail
    where height = #{param1}
  </delete>

  <select id="selectCountByHeight" resultType="java.lang.Integer" useCache="false">
    select count(1)
    from tbl_ont_oep5txn_detail
    where height = #{height}
  </select>


</mapper>