<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.mapper.UserAddressMapper">
  <resultMap id="BaseResultMap" type="com.github.ontio.model.dao.UserAddress">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ont_id" jdbcType="VARCHAR" property="ontId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="strategy" jdbcType="INTEGER" property="strategy" />
    <result column="include_oep_token" jdbcType="BIT" property="includeOepToken" />
    <result column="amount_threshold" jdbcType="DECIMAL" property="amountThreshold" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
  </resultMap>

  <select id="selectUserAddressInfo" resultType="com.github.ontio.txPush.model.PushUserAddressInfoDto">
    SELECT
        a.ont_id as ontId,
        a.user_name as userName,
        a.email as email,
        b.note as note,
        b.strategy as strategy,
        b.include_oep_token as includeOepToken,
        b.address as address,
        b.amount_threshold as amountThreshold,
        b.channel as channel
    FROM
        tbl_user a
    LEFT JOIN tbl_user_address b ON a.ont_id = b.ont_id
  </select>

</mapper>