<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.dao.ContractsMapper">
  <cache type="com.github.ontio.blocksync.config.ExplorerRedisCache">
    <property name="eviction" value="LRU" />
    <property name="size" value="1024" />
    <property name="readOnly" value="false" />
  </cache>

  <resultMap id="BaseResultMap" type="com.github.ontio.model.Contracts">
    <id column="contract" jdbcType="VARCHAR" property="contract" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="txcount" jdbcType="INTEGER" property="txcount" />
    <result column="abi" jdbcType="VARCHAR" property="abi" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="createtime" jdbcType="INTEGER" property="createtime" />
    <result column="auditflag" jdbcType="INTEGER" property="auditflag" />
    <result column="updatetime" jdbcType="INTEGER" property="updatetime" />
    <result column="contactinfo" jdbcType="VARCHAR" property="contactinfo" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="addresscount" jdbcType="INTEGER" property="addresscount" />
    <result column="ontcount" jdbcType="DECIMAL" property="ontcount" />
    <result column="ongcount" jdbcType="DECIMAL" property="ongcount" />
    <result column="project" jdbcType="VARCHAR" property="project" />
    <result column="tokencount" jdbcType="VARCHAR" property="tokencount" />
    <result column="dappstoreflag" jdbcType="INTEGER" property="dappstoreflag" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="totalreward" jdbcType="DECIMAL" property="totalreward" />
  </resultMap>
  <sql id="Base_Column_List">
    contract, name, txcount, abi, code, createtime, auditflag, updatetime, contactinfo, 
    type, description, logo, creator, addresscount, ontcount, ongcount, project, tokencount, 
    dappstoreflag, category, totalreward
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_ont_contracts
    where contract = #{contract,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_ont_contracts
    where contract = #{contract,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.github.ontio.model.Contracts">
    insert into tbl_ont_contracts (contract, name, txcount, 
      abi, code, createtime, 
      auditflag, updatetime, contactinfo, 
      type, description, logo, 
      creator, addresscount, ontcount, 
      ongcount, project, tokencount, 
      dappstoreflag, category, totalreward
      )
    values (#{contract,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{txcount,jdbcType=INTEGER}, 
      #{abi,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{createtime,jdbcType=INTEGER}, 
      #{auditflag,jdbcType=INTEGER}, #{updatetime,jdbcType=INTEGER}, #{contactinfo,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{addresscount,jdbcType=INTEGER}, #{ontcount,jdbcType=DECIMAL}, 
      #{ongcount,jdbcType=DECIMAL}, #{project,jdbcType=VARCHAR}, #{tokencount,jdbcType=VARCHAR}, 
      #{dappstoreflag,jdbcType=INTEGER}, #{category,jdbcType=VARCHAR}, #{totalreward,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.github.ontio.model.Contracts">
    insert into tbl_ont_contracts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contract != null">
        contract,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="txcount != null">
        txcount,
      </if>
      <if test="abi != null">
        abi,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="auditflag != null">
        auditflag,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="contactinfo != null">
        contactinfo,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="addresscount != null">
        addresscount,
      </if>
      <if test="ontcount != null">
        ontcount,
      </if>
      <if test="ongcount != null">
        ongcount,
      </if>
      <if test="project != null">
        project,
      </if>
      <if test="tokencount != null">
        tokencount,
      </if>
      <if test="dappstoreflag != null">
        dappstoreflag,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="totalreward != null">
        totalreward,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contract != null">
        #{contract,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="txcount != null">
        #{txcount,jdbcType=INTEGER},
      </if>
      <if test="abi != null">
        #{abi,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=INTEGER},
      </if>
      <if test="auditflag != null">
        #{auditflag,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=INTEGER},
      </if>
      <if test="contactinfo != null">
        #{contactinfo,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="addresscount != null">
        #{addresscount,jdbcType=INTEGER},
      </if>
      <if test="ontcount != null">
        #{ontcount,jdbcType=DECIMAL},
      </if>
      <if test="ongcount != null">
        #{ongcount,jdbcType=DECIMAL},
      </if>
      <if test="project != null">
        #{project,jdbcType=VARCHAR},
      </if>
      <if test="tokencount != null">
        #{tokencount,jdbcType=VARCHAR},
      </if>
      <if test="dappstoreflag != null">
        #{dappstoreflag,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="totalreward != null">
        #{totalreward,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.ontio.model.Contracts">
    update tbl_ont_contracts
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="txcount != null">
        txcount = #{txcount,jdbcType=INTEGER},
      </if>
      <if test="abi != null">
        abi = #{abi,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=INTEGER},
      </if>
      <if test="auditflag != null">
        auditflag = #{auditflag,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=INTEGER},
      </if>
      <if test="contactinfo != null">
        contactinfo = #{contactinfo,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="addresscount != null">
        addresscount = #{addresscount,jdbcType=INTEGER},
      </if>
      <if test="ontcount != null">
        ontcount = #{ontcount,jdbcType=DECIMAL},
      </if>
      <if test="ongcount != null">
        ongcount = #{ongcount,jdbcType=DECIMAL},
      </if>
      <if test="project != null">
        project = #{project,jdbcType=VARCHAR},
      </if>
      <if test="tokencount != null">
        tokencount = #{tokencount,jdbcType=VARCHAR},
      </if>
      <if test="dappstoreflag != null">
        dappstoreflag = #{dappstoreflag,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="totalreward != null">
        totalreward = #{totalreward,jdbcType=DECIMAL},
      </if>
    </set>
    where contract = #{contract,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.ontio.model.Contracts">
    update tbl_ont_contracts
    set name = #{name,jdbcType=VARCHAR},
      txcount = #{txcount,jdbcType=INTEGER},
      abi = #{abi,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=INTEGER},
      auditflag = #{auditflag,jdbcType=INTEGER},
      updatetime = #{updatetime,jdbcType=INTEGER},
      contactinfo = #{contactinfo,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      addresscount = #{addresscount,jdbcType=INTEGER},
      ontcount = #{ontcount,jdbcType=DECIMAL},
      ongcount = #{ongcount,jdbcType=DECIMAL},
      project = #{project,jdbcType=VARCHAR},
      tokencount = #{tokencount,jdbcType=VARCHAR},
      dappstoreflag = #{dappstoreflag,jdbcType=INTEGER},
      category = #{category,jdbcType=VARCHAR},
      totalreward = #{totalreward,jdbcType=DECIMAL}
    where contract = #{contract,jdbcType=VARCHAR}
  </update>

  <select id="selectContractCount" resultType="Integer" useCache="false">
      select count(*) from tbl_ont_contracts where auditflag = 1
  </select>


  <select id="selectContractByContractHash" parameterType="java.lang.String" resultType="com.github.ontio.model.Contracts" useCache="false">
      select * from tbl_ont_contracts where contract = #{param1}
  </select>


  <select id="selectAllContract" resultType="com.github.ontio.model.Contracts" useCache="false">
    select * from tbl_ont_contracts
    order by createtime DESC
  </select>

  <select id="selectAllApprovedContract" resultType="com.github.ontio.model.Contracts" useCache="false">
    select * from tbl_ont_contracts where auditflag = 1
    order by createtime DESC
  </select>

  <update id="banchUpdateByPrimaryKeySelective" parameterType="java.util.List">
    update tbl_ont_contracts
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="txcount =case" suffix="end,">
        <foreach collection="list" index="index" item="item">
            when contract=#{item.contract} then #{item.txcount}
        </foreach>
      </trim>
      <trim prefix="addresscount =case" suffix="end,">
        <foreach collection="list" index="index" item="item">
            when contract=#{item.contract} then #{item.addresscount}
        </foreach>
      </trim>
      <trim prefix="ontcount =case" suffix="end,">
        <foreach collection="list" index="index" item="item">
            when contract=#{item.contract} then #{item.ontcount}
        </foreach>
      </trim>
      <trim prefix="ongcount =case" suffix="end,">
        <foreach collection="list" index="index" item="item">
            when contract=#{item.contract} then #{item.ongcount}
        </foreach>
      </trim>
      <trim prefix="tokencount =case" suffix="end,">
        <foreach collection="list" index="index" item="item">
            when contract=#{item.contract} then #{item.tokencount}
        </foreach>
      </trim>
    </trim>
    where contract in
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
      #{item.contract}
    </foreach>
  </update>

  <select id="selectAllContractByProject" parameterType="String" resultType="com.github.ontio.model.Contracts" useCache="false">
    select * from tbl_ont_contracts where project = #{project}
    order by createtime DESC
  </select>

  <select id="selectApprovedContractByPage" parameterType="java.util.Map" resultType="java.util.Map" useCache="false">
    select contract as ContractHash, Name, TxCount, ABI, Code, CreateTime, ContactInfo, UpdateTime, Logo, Description, Creator, AddressCount, OntCount, OngCount,tokencount,Type
    from tbl_ont_contracts where auditflag = 1
    order by createtime DESC
    limit #{Start}, #{PageSize}
  </select>


  <select id="selectDappstoreContract" resultType="java.util.Map" useCache="false">
    select contract as ContractHash, Name, Logo, Description, Category, CreateTime, Project, TotalReward
    from tbl_ont_contracts
    where dappstoreflag = 1
  </select>



  <select id="selectContractHashByProject" parameterType="java.util.Map" resultType="java.lang.String" useCache="false">
    select contract as ContractHash
    from tbl_ont_contracts
    where project in
    <foreach close=")" collection="ProjectList" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach>
  </select>



</mapper>