<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.ontio.dao.ContractsMapper" >
  <cache type="com.github.ontio.ExplorerRedisCache">
    <property name="eviction" value="LRU" />
    <property name="size" value="1024" />
    <property name="readOnly" value="false" />
  </cache>

  <resultMap id="BaseResultMap" type="com.github.ontio.model.Contracts" >
    <id column="contract" property="contract" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="project" property="project" jdbcType="VARCHAR" />
    <result column="txcount" property="txcount" jdbcType="INTEGER" />
    <result column="abi" property="abi" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="INTEGER" />
    <result column="auditflag" property="auditflag" jdbcType="INTEGER" />
    <result column="updatetime" property="updatetime" jdbcType="INTEGER" />
    <result column="contactinfo" property="contactinfo" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="addresscount" property="addresscount" jdbcType="INTEGER" />
    <result column="ontcount" property="ontcount" jdbcType="DECIMAL" />
    <result column="ongcount" property="ongcount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    contract, project, name, txcount, abi, code, createtime, auditflag, updatetime, contactinfo,
    type, description, logo, creator, addresscount, ontcount, ongcount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbl_ont_contracts
    where contract = #{contract,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_ont_contracts
    where contract = #{contract,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.github.ontio.model.Contracts" >
    insert into tbl_ont_contracts (contract, project, name, txcount,
      abi, code, createtime, 
      auditflag, updatetime, contactinfo, 
      type, description, logo, creator, addresscount, ontcount, ongcount
      )
    values (#{contract,jdbcType=VARCHAR}, #{project,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{txcount,jdbcType=INTEGER},
      #{abi,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{createtime,jdbcType=INTEGER}, 
      #{auditflag,jdbcType=INTEGER}, #{updatetime,jdbcType=INTEGER}, #{contactinfo,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}
      , #{addresscount,jdbcType=INTEGER}, #{ontcount,jdbcType=DECIMAL}, #{ongcount,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.github.ontio.model.Contracts" >
    insert into tbl_ont_contracts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contract != null" >
        contract,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="project != null" >
        project,
      </if>
      <if test="txcount != null" >
        txcount,
      </if>
      <if test="abi != null" >
        abi,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="auditflag != null" >
        auditflag,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="contactinfo != null" >
        contactinfo,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="creator != null" >
          creator,
      </if>
      <if test="addresscount != null" >
        addresscount,
      </if>
      <if test="ontcount != null" >
        ontcount,
      </if>
      <if test="ongcount != null" >
        ongcount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contract != null" >
        #{contract,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="project != null" >
        #{project,jdbcType=VARCHAR},
      </if>
      <if test="txcount != null" >
        #{txcount,jdbcType=INTEGER},
      </if>
      <if test="abi != null" >
        #{abi,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=INTEGER},
      </if>
      <if test="auditflag != null" >
        #{auditflag,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=INTEGER},
      </if>
      <if test="contactinfo != null" >
        #{contactinfo,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="addresscount != null" >
        #{addresscount,jdbcType=INTEGER},
      </if>
      <if test="ontcount != null" >
        #{ontcount,jdbcType=DECIMAL},
      </if>
      <if test="ongcount != null" >
        #{ongcount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.ontio.model.Contracts" >
    update tbl_ont_contracts
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="project != null" >
        project = #{project,jdbcType=VARCHAR},
      </if>
      <if test="txcount != null" >
        txcount = #{txcount,jdbcType=INTEGER},
      </if>
      <if test="abi != null" >
        abi = #{abi,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=INTEGER},
      </if>
      <if test="auditflag != null" >
        auditflag = #{auditflag,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=INTEGER},
      </if>
      <if test="contactinfo != null" >
        contactinfo = #{contactinfo,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="addresscount != null" >
        addresscount = #{addresscount,jdbcType=INTEGER},
      </if>
      <if test="ontcount != null" >
        ontcount = #{ontcount,jdbcType=DECIMAL},
      </if>
      <if test="ongcount != null" >
        ongcount = #{ongcount,jdbcType=DECIMAL},
      </if>
    </set>
    where contract = #{contract,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.ontio.model.Contracts" >
    update tbl_ont_contracts
    set name = #{name,jdbcType=VARCHAR},project = #{project,jdbcType=VARCHAR},
      txcount = #{txcount,jdbcType=INTEGER},
      abi = #{abi,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=INTEGER},
      auditflag = #{auditflag,jdbcType=INTEGER},
      updatetime = #{updatetime,jdbcType=INTEGER},
      contactinfo = #{contactinfo,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      addresscount = #{addresscount,jdbcType=INTEGER},
      ontcount = #{creator,jdbcType=DECIMAL},
      ongcount = #{creator,jdbcType=DECIMAL}
    where contract = #{contract,jdbcType=VARCHAR}
  </update>

  <select id="selectContractCount" resultType="Integer">
      select count(*) from tbl_ont_contracts where auditflag = 1
  </select>

  <select id="selectCreatorByContractHash" parameterType="java.lang.String" resultType="String">
      select creator from tbl_ont_contracts where contract = #{param1}
  </select>

  <select id="selectContractByContractHash" parameterType="java.lang.String" resultType="com.github.ontio.model.Contracts">
      select * from tbl_ont_contracts where contract = #{param1}
  </select>

  <select id="selectContractByPage" parameterType="java.util.Map" resultType="java.util.Map">
    select contract as ContractHash, Project, Name, TxCount, ABI, Code, CreateTime, ContactInfo, UpdateTime, Logo, Description, Creator, AddressCount, OntCount, OngCount,Type
    from tbl_ont_contracts where auditflag = 1
    order by createtime DESC
    limit #{Start}, #{PageSize}
  </select>

  <select id="selectAllContract"  resultType="com.github.ontio.model.Contracts">
    select * from tbl_ont_contracts where auditflag = 1
    order by createtime DESC
  </select>

  <update id="banchUpdateByPrimaryKeySelective" parameterType="java.util.List" >
    update tbl_ont_contracts
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="txcount =case" suffix="end,">
        <foreach collection="list" item="item" index="index">
            when contract=#{item.contract} then #{item.txcount}
        </foreach>
      </trim>
      <trim prefix="addresscount =case" suffix="end,">
        <foreach collection="list" item="item" index="index">
            when contract=#{item.contract} then #{item.addresscount}
        </foreach>
      </trim>
      <trim prefix="ontcount =case" suffix="end,">
        <foreach collection="list" item="item" index="index">
            when contract=#{item.contract} then #{item.ontcount}
        </foreach>
      </trim>
      <trim prefix="ongcount =case" suffix="end,">
        <foreach collection="list" item="item" index="index">
            when contract=#{item.contract} then #{item.ongcount}
        </foreach>
      </trim>
    </trim>
    where contract in
    <foreach collection="list" index="index" item="item"
             separator="," open="(" close=")">
      #{item.contract}
    </foreach>
  </update>

  <select id="selectAllContractByProject"  resultType="com.github.ontio.model.Contracts" parameterType="String">
    select * from tbl_ont_contracts where auditflag = 1 and project = #{project}
    order by createtime DESC
  </select>

  <select id="selectApprovedContractByPage" parameterType="java.util.Map" resultType="java.util.Map">
    select contract as ContractHash, Name, TxCount, ABI, Code, CreateTime, ContactInfo, UpdateTime, Logo, Description, Creator, AddressCount, OntCount, OngCount,Type
    from tbl_ont_contracts where auditflag = 1
    order by createtime DESC
    limit #{Start}, #{PageSize}
  </select>

  <select id="selectContract" resultType="java.util.Map">
    select contract as ContractHash, Name, TxCount, ABI, Code, CreateTime, ContactInfo, UpdateTime, Logo, Description, Creator, AddressCount, OntCount, OngCount,Type
    from tbl_ont_contracts
    order by createtime DESC
  </select>
</mapper>