<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.ontio.dao.DailySummaryMapper" >
  <cache type="com.github.ontio.config.ExplorerRedisCache">
    <property name="eviction" value="LRU" />
    <property name="size" value="1024" />
    <property name="readOnly" value="false" />
  </cache>

  <resultMap id="BaseResultMap" type="com.github.ontio.model.DailySummary" >
    <id column="time" property="time" jdbcType="INTEGER" />
    <result column="blockcount" property="blockcount" jdbcType="INTEGER" />
    <result column="txncount" property="txncount" jdbcType="INTEGER" />
    <result column="ontidactivecount" property="ontidactivecount" jdbcType="INTEGER" />
    <result column="ontidnewcount" property="ontidnewcount" jdbcType="INTEGER" />
    <result column="ontcount" property="ontcount" jdbcType="DECIMAL" />
    <result column="ongcount" property="ongcount" jdbcType="DECIMAL" />
    <result column="activeaddress" property="activeaddress" jdbcType="INTEGER" />
    <result column="newaddress" property="newaddress" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    time, blockcount, txncount, ontidactivecount, ontidnewcount, ontcount, ongcount, 
    activeaddress, newaddress
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_ont_daily_summary
    where time = #{time,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_ont_daily_summary
    where time = #{time,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.github.ontio.model.DailySummary" >
    insert into tbl_ont_daily_summary (time, blockcount, txncount, 
      ontidactivecount, ontidnewcount, ontcount, 
      ongcount, activeaddress, newaddress
      )
    values (#{time,jdbcType=INTEGER}, #{blockcount,jdbcType=INTEGER}, #{txncount,jdbcType=INTEGER}, 
      #{ontidactivecount,jdbcType=INTEGER}, #{ontidnewcount,jdbcType=INTEGER}, #{ontcount,jdbcType=DECIMAL}, 
      #{ongcount,jdbcType=DECIMAL}, #{activeaddress,jdbcType=INTEGER}, #{newaddress,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.github.ontio.model.DailySummary" >
    insert into tbl_ont_daily_summary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="time != null" >
        time,
      </if>
      <if test="blockcount != null" >
        blockcount,
      </if>
      <if test="txncount != null" >
        txncount,
      </if>
      <if test="ontidactivecount != null" >
        ontidactivecount,
      </if>
      <if test="ontidnewcount != null" >
        ontidnewcount,
      </if>
      <if test="ontcount != null" >
        ontcount,
      </if>
      <if test="ongcount != null" >
        ongcount,
      </if>
      <if test="activeaddress != null" >
        activeaddress,
      </if>
      <if test="newaddress != null" >
        newaddress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="time != null" >
        #{time,jdbcType=INTEGER},
      </if>
      <if test="blockcount != null" >
        #{blockcount,jdbcType=INTEGER},
      </if>
      <if test="txncount != null" >
        #{txncount,jdbcType=INTEGER},
      </if>
      <if test="ontidactivecount != null" >
        #{ontidactivecount,jdbcType=INTEGER},
      </if>
      <if test="ontidnewcount != null" >
        #{ontidnewcount,jdbcType=INTEGER},
      </if>
      <if test="ontcount != null" >
        #{ontcount,jdbcType=DECIMAL},
      </if>
      <if test="ongcount != null" >
        #{ongcount,jdbcType=DECIMAL},
      </if>
      <if test="activeaddress != null" >
        #{activeaddress,jdbcType=INTEGER},
      </if>
      <if test="newaddress != null" >
        #{newaddress,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.ontio.model.DailySummary" >
    update tbl_ont_daily_summary
    <set >
      <if test="blockcount != null" >
        blockcount = #{blockcount,jdbcType=INTEGER},
      </if>
      <if test="txncount != null" >
        txncount = #{txncount,jdbcType=INTEGER},
      </if>
      <if test="ontidactivecount != null" >
        ontidactivecount = #{ontidactivecount,jdbcType=INTEGER},
      </if>
      <if test="ontidnewcount != null" >
        ontidnewcount = #{ontidnewcount,jdbcType=INTEGER},
      </if>
      <if test="ontcount != null" >
        ontcount = #{ontcount,jdbcType=DECIMAL},
      </if>
      <if test="ongcount != null" >
        ongcount = #{ongcount,jdbcType=DECIMAL},
      </if>
      <if test="activeaddress != null" >
        activeaddress = #{activeaddress,jdbcType=INTEGER},
      </if>
      <if test="newaddress != null" >
        newaddress = #{newaddress,jdbcType=INTEGER},
      </if>
    </set>
    where time = #{time,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.ontio.model.DailySummary" >
    update tbl_ont_daily_summary
    set blockcount = #{blockcount,jdbcType=INTEGER},
      txncount = #{txncount,jdbcType=INTEGER},
      ontidactivecount = #{ontidactivecount,jdbcType=INTEGER},
      ontidnewcount = #{ontidnewcount,jdbcType=INTEGER},
      ontcount = #{ontcount,jdbcType=DECIMAL},
      ongcount = #{ongcount,jdbcType=DECIMAL},
      activeaddress = #{activeaddress,jdbcType=INTEGER},
      newaddress = #{newaddress,jdbcType=INTEGER}
    where time = #{time,jdbcType=INTEGER}
  </update>

  <select id="selectMaxTime" resultType="java.lang.Integer" useCache="false">
    select MAX(time) from tbl_ont_daily_summary
  </select>

  <select id="selectDailyInfo" resultType="java.util.Map" parameterType="java.util.Map" useCache="false">
    select TxnCount, BlockCount, OntIdNewCount, OntIdActiveCount, OntCount, OngCount, ActiveAddress, NewAddress, Time
    from tbl_ont_daily_summary
    where time &gt;= #{startTime}
    and <![CDATA[ time <= #{endTime} ]]>
    order by time desc
  </select>

  <select id="selectAddressAndOntIdCount" parameterType="java.lang.Integer" resultType="java.util.Map" useCache="false">
    select SUM(newaddress) as addressSum, SUM(ontidnewcount) as ontIdSum
    from tbl_ont_daily_summary where <![CDATA[  time < #{startTime} ]]>
  </select>
</mapper>