.el-pagination {
  padding-right: 10px !important;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li,
.el-pagination .el-select .el-input .el-input__inner {
  background-color: white !important;
  border-radius: 0 !important;
  border: 1px solid #AFACAC !important;
}

.el-pagination.is-background .btn-next:hover,
.el-pagination.is-background .btn-prev:hover,
.el-pagination.is-background .el-pager li:hover,
.el-pagination .el-select .el-input .el-input__inner:hover{
  color: #32a4be !important;
  border: 1px solid #32A4BE !important;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #32A4BE !important;
  border-radius: 0 !important;
}
.el-pagination.is-background .el-pager li:not(.disabled).active:hover {
  color: white !important;
  background-color: #32A4BE !important;
}

.el-select .el-input.is-focus .el-input__inner,
.el-select-dropdown__item.selected,
.el-select .el-input__inner:focus {
  color: #32a4be !important;
  border-color: #32A4BE !important;
}
