<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.mapper.CandidateNodeSummaryMapper">
  <resultMap id="BaseResultMap" type="com.github.ontio.model.dao.CandidateNodeSummary">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="node_rank" jdbcType="INTEGER" property="nodeRank" />
    <result column="current_stake" jdbcType="BIGINT" property="currentStake" />
    <result column="progress" jdbcType="VARCHAR" property="progress" />
    <result column="detail_url" jdbcType="VARCHAR" property="detailUrl" />
    <result column="node_index" jdbcType="INTEGER" property="nodeIndex" />
    <result column="public_key" jdbcType="VARCHAR" property="publicKey" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="init_pos" jdbcType="BIGINT" property="initPos" />
    <result column="total_pos" jdbcType="BIGINT" property="totalPos" />
    <result column="max_authorize" jdbcType="BIGINT" property="maxAuthorize" />
    <result column="node_proportion" jdbcType="VARCHAR" property="nodeProportion" />
  </resultMap>
</mapper>