<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.mapper.ContractDailySummaryMapper">
  <resultMap id="BaseResultMap" type="com.github.ontio.model.dao.ContractDailySummary">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="time" jdbcType="INTEGER" property="time" />
    <result column="contract_hash" jdbcType="VARCHAR" property="contractHash" />
    <result column="tx_count" jdbcType="INTEGER" property="txCount" />
    <result column="ont_sum" jdbcType="DECIMAL" property="ontSum" />
    <result column="ong_sum" jdbcType="DECIMAL" property="ongSum" />
    <result column="active_address_count" jdbcType="INTEGER" property="activeAddressCount" />
    <result column="new_address_count" jdbcType="INTEGER" property="newAddressCount" />
    <result column="dapp_name" jdbcType="VARCHAR" property="dappName" />
  </resultMap>


    <sql id="basicColumns">
      time as time,
      contract_hash as contractHash,
      tx_count as txCount,
      ont_sum as ontSum,
      ong_sum as ongSum,
      active_address_count as activeAddressCount,
      new_address_count as newAddressCount
    </sql>


  <select id="selectDailySummaryByContractHash" resultType="com.github.ontio.model.dto.ContractDailySummaryDto">
    select <include refid="basicColumns"/>
    from tbl_contract_daily_summary
    where contract_hash = #{contractHash}
    and time >= #{startTime}
    and <![CDATA[ time <= #{endTime} ]]>
    order by time
  </select>

</mapper>