<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.mapper.CurrentMapper">
  <resultMap id="BaseResultMap" type="com.github.ontio.model.dao.Current">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="block_height" jdbcType="INTEGER" property="blockHeight" />
    <result column="tx_count" jdbcType="INTEGER" property="txCount" />
    <result column="ontid_count" jdbcType="INTEGER" property="ontidCount" />
    <result column="nonontid_tx_count" jdbcType="INTEGER" property="nonontidTxCount" />
  </resultMap>


  <cache type="com.github.ontio.config.RedisCache">
    <property name="eviction" value="LRU" />
    <property name="size" value="1024" />
    <property name="readOnly" value="false" />
  </cache>

  <sql id="baseColumns">
    block_height as blockHeight,
    tx_count as txCount,
    ontid_count as ontidCount,
    nonontid_tx_count as nonontidTxCount
  </sql>

  <select id="selectSummaryInfo" resultType="com.github.ontio.model.dto.CurrentDto">
    select <include refid="baseColumns"/>
    from tbl_current
  </select>

</mapper>