<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.mapper.GovernanceMapper">

  <select id="findGovernanceInfo" resultType="com.github.ontio.model.dto.GovernanceInfoDto">
    SELECT address,
      consensus_pos AS consensusPos,
      candidate_pos AS candidatePos,
      new_pos AS newPos,
      withdraw_consensus_pos AS withdrawConsensusPos,
      withdraw_candidate_pos AS withdrawCandidatePos,
      withdraw_unfreeze_pos AS withdrawUnfreezePos
    FROM tbl_governance_info
    WHERE peer_pub_key = #{pubKey}
    AND (consensus_pos > 0 OR candidate_pos > 0)
    ORDER BY consensus_pos + candidate_pos + new_pos DESC
    LIMIT #{start}, #{size}
  </select>

  <select id="countGovernanceInfo" resultType="java.lang.Integer">
    SELECT count(0)
    FROM tbl_governance_info
    WHERE peer_pub_key = #{pubKey}
    AND (consensus_pos > 0 OR candidate_pos > 0)
  </select>

  <select id="getStakingInfoByAddress" resultType="com.github.ontio.model.dto.GovernanceInfoDto">
    SELECT a.peer_pub_key AS publicKey,
           b.name,
           a.consensus_pos AS consensusPos,
           a.candidate_pos AS candidatePos,
           a.new_pos AS newPos,
           a.withdraw_consensus_pos AS withdrawConsensusPos,
           a.withdraw_candidate_pos AS withdrawCandidatePos,
           a.withdraw_unfreeze_pos AS withdrawUnfreezePos
    FROM tbl_governance_info a
           INNER JOIN tbl_node_info_off_chain b ON a.peer_pub_key = b.public_key
    WHERE a.address = #{address}
  </select>

    <select id="getStakingAddressByPublicKey" resultType="String">
        SELECT address
        FROM tbl_governance_info
        WHERE peer_pub_key = #{pubKey}
        AND (consensus_pos > 0 OR candidate_pos > 0)
    </select>

    <select id="getAllStakingAddress" resultType="String">
        SELECT DISTINCT address
        FROM tbl_governance_info
        WHERE consensus_pos > 0 OR candidate_pos > 0 OR withdraw_candidate_pos > 0
    </select>

    <select id="getStakingRewardsByAddress" resultType="com.github.ontio.model.dto.StakingRewardsDto">
        SELECT
        address,
        peer_pub_key AS publicKey,
        ong_income AS rewards,
        cycle AS round
        FROM tbl_income_info
        <where>
            address = #{address}
            AND staking_pos > 0
            <if test="publicKey !=null and publicKey != ''">
                AND peer_pub_key = #{publicKey}
            </if>
            <if test="round !=null">
                AND cycle = #{round}
            </if>
        </where>
        ORDER BY cycle DESC
    </select>

    <select id="getStakingSnapshotByAddress" resultType="com.github.ontio.model.dto.StakingRewardsDto">
        SELECT
        a.address,
        a.peer_pub_key AS publicKey,
        a.ong_income AS rewards,
        a.staking_pos AS staked,
        a.withdraw_pos AS unstaking,
        CASE
        WHEN a.peer = 1 THEN
        GREATEST(IFNULL(c.staking_pos,0) - a.staking_pos,0)
        ELSE a.new_pos
        END AS processing,
        IFNULL(b.next_withdrawable_pos,0) AS withdrawable,
        a.cycle AS round
        FROM tbl_income_info a
        LEFT JOIN tbl_income_info b
        ON a.address = b.address AND a.peer_pub_key = b.peer_pub_key AND a.cycle-1 = b.cycle
        LEFT JOIN tbl_income_info c
        ON a.address = c.address AND a.peer_pub_key = c.peer_pub_key AND a.cycle = c.cycle-1
        <where>
            a.address = #{address}
            <if test="publicKey !=null and publicKey != ''">
                AND a.peer_pub_key = #{publicKey}
            </if>
            <if test="round !=null">
                AND a.cycle = #{round}
            </if>
        </where>
        ORDER BY a.cycle DESC, a.peer_pub_key
    </select>

    <select id="getStakingAddressCount" resultType="java.lang.Integer">
        SELECT count(DISTINCT address)
        FROM tbl_governance_info
        WHERE peer_pub_key IN
        (
        <foreach collection="publicKeyList" item="publicKey" separator=",">
            #{publicKey}
        </foreach>
        )
          AND (consensus_pos > 0 OR candidate_pos > 0)
    </select>
</mapper>