<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.mapper.NodeInfoOffChainMapper">
  <resultMap id="BaseResultMap" type="com.github.ontio.model.dao.NodeInfoOffChain">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="public_key" jdbcType="VARCHAR" property="publicKey" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="CHAR" property="address" />
    <result column="ont_id" jdbcType="CHAR" property="ontId" />
    <result column="node_type" jdbcType="INTEGER" property="nodeType" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="logo_url" jdbcType="VARCHAR" property="logoUrl" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="website" jdbcType="VARCHAR" property="website" />
    <result column="social_media" jdbcType="VARCHAR" property="socialMedia" />
  </resultMap>

    <cache type="com.github.ontio.config.RedisCache">
        <property name="eviction" value="LRU" />
        <property name="size" value="1024" />
        <property name="readOnly" value="false" />
    </cache>

    <select id="selectByPublicKey" resultType="com.github.ontio.model.dto.NodeInfoOffChainDto" useCache="true">
        SELECT public_key,
               name,
               address,
               ont_id,
               node_type,
               introduction,
               logo_url,
               region,
               longitude,
               latitude,
               ip,
               website,
               social_media
        FROM tbl_node_info_off_chain
        WHERE public_key = #{publicKey}
        LIMIT 1;
    </select>
</mapper>