<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.mapper.NodeInspireMapper">
    <resultMap id="BaseResultMap" type="com.github.ontio.model.dao.NodeInspire">
        <id column="public_key" jdbcType="VARCHAR" property="publicKey"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="current_stake" jdbcType="BIGINT" property="currentStake"/>
        <result column="node_released_ong_incentive" jdbcType="BIGINT" property="nodeReleasedOngIncentive"/>
        <result column="node_released_ong_incentive_rate" jdbcType="VARCHAR" property="nodeReleasedOngIncentiveRate"/>
        <result column="user_released_ong_incentive" jdbcType="BIGINT" property="userReleasedOngIncentive"/>
        <result column="user_released_ong_incentive_rate" jdbcType="VARCHAR" property="userReleasedOngIncentiveRate"/>
        <result column="node_gas_fee_incentive" jdbcType="BIGINT" property="nodeGasFeeIncentive"/>
        <result column="node_gas_fee_incentive_rate" jdbcType="VARCHAR" property="nodeGasFeeIncentiveRate"/>
        <result column="user_gas_fee_incentive" jdbcType="BIGINT" property="userGasFeeIncentive"/>
        <result column="user_gas_fee_incentive_rate" jdbcType="VARCHAR" property="userGasFeeIncentiveRate"/>
        <result column="node_foundation_bonus_incentive" jdbcType="BIGINT" property="nodeFoundationBonusIncentive"/>
        <result column="node_foundation_bonus_incentive_rate" jdbcType="VARCHAR" property="nodeFoundationBonusIncentiveRate"/>
        <result column="user_foundation_bonus_incentive" jdbcType="BIGINT" property="userFoundationBonusIncentive"/>
        <result column="user_foundation_bonus_incentive_rate" jdbcType="VARCHAR" property="userFoundationBonusIncentiveRate"/>
        <result column="node_apy" jdbcType="VARCHAR" property="nodeApy"/>
        <result column="user_apy" jdbcType="VARCHAR" property="userApy"/>
    </resultMap>
    <!--
    self-defined SQL
    -->
    <select id="selectNodesInspire" resultMap="BaseResultMap">
        SELECT
        public_key,
        address,
        name,
        status,
        current_stake,
        node_released_ong_incentive,
        node_released_ong_incentive_rate,
        user_released_ong_incentive,
        user_released_ong_incentive_rate,
        node_gas_fee_incentive,
        node_gas_fee_incentive_rate,
        user_gas_fee_incentive,
        user_gas_fee_incentive_rate,
        node_foundation_bonus_incentive,
        node_foundation_bonus_incentive_rate,
        user_foundation_bonus_incentive,
        user_foundation_bonus_incentive_rate,
        node_apy,
        user_apy
        FROM tbl_node_inspire
        LIMIT #{start},#{pageSize}
    </select>

    <select id="selectNodesInspireCount" resultType="Integer">
        SELECT
        COUNT(1)
        FROM tbl_node_inspire
    </select>
</mapper>