<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.mapper.OepLogoMapper">
  <resultMap id="BaseResultMap" type="com.github.ontio.model.dao.OepLogo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="contract_hash" jdbcType="VARCHAR" property="contractHash" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="token_id" jdbcType="VARCHAR" property="tokenId" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>