<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.mapper.OngSupplyMapper">
    <resultMap id="BaseResultMap" type="com.github.ontio.model.dao.OngSupply">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="ong_supply" jdbcType="DECIMAL" property="ongSupply"/>
        <result column="cycle" jdbcType="INTEGER" property="cycle"/>
    </resultMap>

</mapper>