<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.mapper.OntidTxDetailMapper">
  <resultMap id="BaseResultMap" type="com.github.ontio.model.dao.OntidTxDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="tx_hash" jdbcType="VARCHAR" property="txHash" />
    <result column="tx_type" jdbcType="INTEGER" property="txType" />
    <result column="ontid" jdbcType="VARCHAR" property="ontid" />
    <result column="tx_time" jdbcType="INTEGER" property="txTime" />
    <result column="block_height" jdbcType="INTEGER" property="blockHeight" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="fee" jdbcType="DECIMAL" property="fee" />
  </resultMap>

  <cache type="com.github.ontio.config.RedisCache">
    <property name="eviction" value="LRU" />
    <property name="size" value="1024" />
    <property name="readOnly" value="false" />
  </cache>


  <sql id="detailColumns">
    tx_hash as txHash,
    tx_type as txType,
    ontid as ontid,
    tx_time as txTime,
    block_height as blockHeight,
    description as description,
    fee as fee
  </sql>


  <select id="selectOntidTxsByPage" resultType="com.github.ontio.model.dto.OntidTxDetailDto">
    select <include refid="detailColumns"/>
    from tbl_ontid_tx_detail
    where 1= 1
    <if test="ontid != '' and ontid != null">
      and ontid = #{ontid}
    </if>
    order by block_height desc
    limit #{startIndex}, #{pageSize}
  </select>

</mapper>