<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.mapper.Orc1155Mapper">
    <resultMap id="BaseResultMap" type="com.github.ontio.model.dao.Orc1155">
        <id column="contract_hash" jdbcType="VARCHAR" property="contractHash" />
        <id column="token_id" jdbcType="VARCHAR" property="tokenId" />
        <result column="collection" jdbcType="VARCHAR" property="collection" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="total_supply" jdbcType="DECIMAL" property="totalSupply" />
        <result column="symbol" jdbcType="VARCHAR" property="symbol" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="audit_flag" jdbcType="BIT" property="auditFlag" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="vm_category" jdbcType="VARCHAR" property="vmCategory" />
    </resultMap>

    <cache type="com.github.ontio.config.RedisCache">
        <property name="eviction" value="LRU"/>
        <property name="size" value="1024"/>
        <property name="readOnly" value="false"/>
    </cache>

    <select id="selectAuditPassedOrc1155" resultType="java.util.Map">
        select
        contract_hash as contractHash,
        GROUP_CONCAT(symbol) as symbol,
        GROUP_CONCAT(token_id) as tokenId,
        vm_category as vmCategory
        from tbl_orc1155
        where audit_flag = 1
        <if test="symbol != null and symbol != ''">
            and symbol like #{symbol}
        </if>
        GROUP BY contract_hash
    </select>

    <select id="selectOrc1155Tokens" resultType="com.github.ontio.model.dto.Orc1155DetailDto">
        SELECT
        a.contract_hash as contractHash,
        a.vm_category as vmCategory,
        GROUP_CONCAT(a.token_id) as tokenId,
        GROUP_CONCAT(a.total_supply) as totalSupply,
        GROUP_CONCAT(a.symbol) AS symbol,
        GROUP_CONCAT(a.`name`) AS tokenName,
        b.`name` as name,
        b.description as description,
        b.contact_info as contactInfo,
        b.create_time as createTime,
        b.update_time as updateTime,
        b.logo as logo,
        b.tx_count as txCount,
        b.creator as creator,
        b.address_count as addressCount
        FROM tbl_orc1155 a, tbl_contract b
        where a.contract_hash = b.contract_hash
        and a.audit_flag = 1
        and b.audit_flag = 1
        GROUP BY
        a.contract_hash
        <trim prefix="order by" prefixOverrides=",">
            <if test="ascending != null">
                <foreach collection="ascending" item="sort">
                    , b.${sort}
                </foreach>
            </if>
            <if test="descending != null">
                <foreach collection="descending" item="sort">
                    , b.${sort} desc
                </foreach>
            </if>
        </trim>
    </select>


    <select id="selectOrc1155TokenDetail" resultType="com.github.ontio.model.dto.Orc1155DetailDto">
        SELECT
            a.contract_hash AS contractHash,
            a.name AS name,
            a.abi as abi,
            a.code as code,
            a.source_code as sourceCode,
            a.category as category,
            a.creator AS creator,
            a.description as description,
            a.logo as logo,
            a.create_time as createTime,
            a.update_time as updateTime,
            a.contact_info as contactInfo,
            a.type as type,
            a.ong_sum as ongSum,
            a.ont_sum as ontSum,
            a.token_sum as tokenSum,
            a.address_count as addressCount,
            a.tx_count as txCount,
            b.vm_category as vmCategory,
            GROUP_CONCAT(b.token_id) as tokenId,
            GROUP_CONCAT(b.total_supply) as totalSupply,
            GROUP_CONCAT(b.symbol) AS symbol,
            GROUP_CONCAT(b.`name`) AS tokenName
        FROM tbl_orc1155 b LEFT JOIN tbl_contract a ON a.contract_hash = b.contract_hash
        WHERE b.contract_hash = #{contractHash}
          and a.audit_flag = 1
          and b.audit_flag = 1
    </select>


</mapper>