<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.mapper.Orc20TxDetailMapper">

    <resultMap id="BaseResultMap" type="com.github.ontio.model.dao.Orc20TxDetail">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="tx_hash" jdbcType="VARCHAR" property="txHash"/>
        <id column="tx_index" jdbcType="INTEGER" property="txIndex"/>
        <result column="tx_type" jdbcType="INTEGER" property="txType"/>
        <result column="tx_time" jdbcType="INTEGER" property="txTime"/>
        <result column="block_height" jdbcType="INTEGER" property="blockHeight"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="fee" jdbcType="DECIMAL" property="fee"/>
        <result column="asset_name" jdbcType="VARCHAR" property="assetName"/>
        <result column="from_address" jdbcType="VARCHAR" property="fromAddress"/>
        <result column="to_address" jdbcType="VARCHAR" property="toAddress"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="block_index" jdbcType="INTEGER" property="blockIndex"/>
        <result column="confirm_flag" jdbcType="INTEGER" property="confirmFlag"/>
        <result column="event_type" jdbcType="INTEGER" property="eventType"/>
        <result column="contract_hash" jdbcType="VARCHAR" property="contractHash"/>
        <result column="payer" jdbcType="VARCHAR" property="payer"/>
        <result column="called_contract_hash" jdbcType="VARCHAR" property="calledContractHash"/>
    </resultMap>

    <cache type="com.github.ontio.config.RedisCache">
        <property name="eviction" value="LRU"/>
        <property name="size" value="1024"/>
        <property name="readOnly" value="false"/>
    </cache>


    <sql id="txAllColumns">
        tx_hash as txHash,
     tx_type as txType,
    tx_time as txTime,
    block_height as blockHeight,
    amount as amount,
    fee as fee,
    asset_name as assetName,
    from_address as fromAddress,
    to_address as toAddress,
    description as description,
    block_index as blockIndex,
    confirm_flag as confirmFlag,
    event_type as eventType,
    contract_hash as contractHash,
    payer as payer,
    called_contract_hash as calledContractHash
    </sql>

    <sql id="txBasicColumns">
        tx_hash as txHash,
    tx_type as txType,
    tx_time as txTime,
    block_height as blockHeight,
    confirm_flag as confirmFlag,
    block_index as blockIndex,
    fee as fee
    </sql>

<!-- <include refid="txAllColumns"/>   -->

    <select id="selectTxsByCalledContractHash" resultType="com.github.ontio.model.dao.Orc20TxDetail">
        select DISTINCT <include refid="txBasicColumns"/>
        from tbl_orc20_tx_detail
        where called_contract_hash = #{calledContractHash}
        order by block_height desc
        limit #{startIndex}, #{pageSize}
    </select>

    <select id="selectCountByCalledContracthash" resultType="java.lang.Integer">
        select count(DISTINCT (tx_hash))
        from tbl_orc20_tx_detail
        where called_contract_hash = #{calledContractHash}
    </select>



</mapper>