<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.mapper.TxDetailMapper">
  <resultMap id="BaseResultMap" type="com.github.ontio.model.dao.TxDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="tx_hash" jdbcType="VARCHAR" property="txHash" />
    <id column="tx_index" jdbcType="INTEGER" property="txIndex" />
    <result column="tx_type" jdbcType="INTEGER" property="txType" />
    <result column="tx_time" jdbcType="INTEGER" property="txTime" />
    <result column="block_height" jdbcType="INTEGER" property="blockHeight" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="fee" jdbcType="DECIMAL" property="fee" />
    <result column="asset_name" jdbcType="VARCHAR" property="assetName" />
    <result column="from_address" jdbcType="VARCHAR" property="fromAddress" />
    <result column="to_address" jdbcType="VARCHAR" property="toAddress" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="block_index" jdbcType="INTEGER" property="blockIndex" />
    <result column="confirm_flag" jdbcType="INTEGER" property="confirmFlag" />
    <result column="event_type" jdbcType="INTEGER" property="eventType" />
    <result column="contract_hash" jdbcType="VARCHAR" property="contractHash" />
    <result column="payer" jdbcType="VARCHAR" property="payer" />
    <result column="called_contract_hash" jdbcType="VARCHAR" property="calledContractHash" />
  </resultMap>

    <cache type="com.github.ontio.config.RedisCache">
        <property name="eviction" value="LRU" />
        <property name="size" value="1024" />
        <property name="readOnly" value="false" />
    </cache>

    <sql id="txBasicColumns">
        tx_hash as txHash,
        tx_type as txType,
        tx_time as txTime,
        block_height as blockHeight,
        confirm_flag as confirmFlag,
        block_index as blockIndex,
        fee as fee
    </sql>

    <sql id="txDetailColumns">
        tx_hash as txHash,
        tx_type as txType,
        tx_time as txTime,
        block_height as blockHeight,
        confirm_flag as confirmFlag,
        block_index as blockIndex,
        fee as fee,
        description as description,
        event_type as eventType
    </sql>

    <sql id="transferTxDetailColumns">
        tx_hash as txHash,
        tx_type as txType,
        tx_time as txTime,
        block_height as blockHeight,
        confirm_flag as confirmFlag,
        block_index as blockIndex,
        fee as fee,
		asset_name as assetName,
		amount as amount,
		to_address as toAddress,
		from_address as fromAddress,
		tx_index as txIndex
    </sql>



    <select id="selectTxByHash" parameterType="java.lang.String" resultType="com.github.ontio.model.dto.TxDetailDto">
        select <include refid="txDetailColumns" />
        from tbl_tx_detail
        where tx_hash = #{txHash}
        order by tx_index
        limit 1
    </select>

    <select id="selectTransferTxDetailByHash" parameterType="java.lang.String" resultType="com.github.ontio.model.dto.TxDetailDto">
        select to_address as toAddress, from_address as fromAddress, amount as amount, asset_name as assetName, description as description
        from tbl_tx_detail
        where tx_hash = #{txHash}
        and event_type in (2,3)
    </select>

    <select id="selectLatestOntTransferTxTime" parameterType="java.lang.String" resultType="java.lang.Integer" useCache="false">
        select tx_time as txTime
        from tbl_tx_detail
        where (from_address = #{address} or to_address = #{address})
        and asset_name = 'ont'
        order by block_height DESC
        limit 1
    </select>


    <select id="selectTxsByBlockHeight" parameterType="java.lang.Integer" resultType="com.github.ontio.model.dto.TxBasicDto">
        select distinct <include refid="txBasicColumns" />
        from tbl_tx_detail
        where block_height = #{blockHeight}
        order by block_index
    </select>


    <select id="selectTransferTxsByPage" resultType="com.github.ontio.model.dto.TransferTxDto">
        SELECT *
        FROM
        (
            SELECT <include refid="transferTxDetailColumns" />
            FROM tbl_tx_detail
            WHERE from_address = #{address}
            <if test="assetName != '' and assetName != null">
                and asset_name = #{assetName}
            </if>
            AND event_type IN (2, 3)
              UNION ALL
            SELECT <include refid="transferTxDetailColumns" />
            FROM tbl_tx_detail
            WHERE to_address = #{address}
            <if test="assetName != '' and assetName != null">
                and asset_name = #{assetName}
            </if>
            AND event_type IN (2, 3)
        ) a
        ORDER BY a.blockHeight DESC, a.txHash, a.txIndex
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="selectTransferTxsByTime" resultType="com.github.ontio.model.dto.TransferTxDto">
        SELECT *
        FROM
        (
            SELECT <include refid="transferTxDetailColumns" />
            FROM tbl_tx_detail
            WHERE from_address = #{address}
            <if test="assetName != '' and assetName != null">
                and asset_name = #{assetName}
            </if>
            AND event_type IN (2, 3)
              UNION ALL
            SELECT <include refid="transferTxDetailColumns" />
            FROM tbl_tx_detail
            WHERE to_address = #{address}
            <if test="assetName != '' and assetName != null">
                and asset_name = #{assetName}
            </if>
            AND event_type IN (2, 3)
        ) a
        where a.txTime &gt;= #{startTime}
        and <![CDATA[ a.txTime <= #{endTime} ]]>
        ORDER BY a.blockHeight DESC, a.txHash, a.txIndex
    </select>


    <!--use for ONTO-->
    <select id="selectTransferTxsByTimeAndPage" resultType="com.github.ontio.model.dto.TransferTxDto">
        SELECT *
        FROM
        (
            SELECT <include refid="transferTxDetailColumns" />
            FROM tbl_tx_detail
            WHERE from_address = #{address}
            <if test="assetName != '' and assetName != null">
                and asset_name = #{assetName}
            </if>
            AND event_type = 3
            UNION ALL
            SELECT <include refid="transferTxDetailColumns" />
            FROM tbl_tx_detail
            WHERE to_address = #{address}
            <if test="assetName != '' and assetName != null">
                and asset_name = #{assetName}
            </if>
            AND event_type = 3
        ) a
        where <![CDATA[ a.txTime < #{endTime} ]]>
        ORDER BY a.txTime DESC
        limit #{pageSize}
    </select>

    <!--use for ONTO-->
    <select id="selectDragonTransferTxsByTime" resultType="com.github.ontio.model.dto.TransferTxDto">
        SELECT *
        FROM
        (
            SELECT <include refid="transferTxDetailColumns" />
            FROM tbl_tx_detail
            WHERE from_address = #{address}
            and asset_name like #{assetName}
            AND event_type = 3
            UNION ALL
            SELECT <include refid="transferTxDetailColumns" />
            FROM tbl_tx_detail
            WHERE to_address = #{address}
            and asset_name like #{assetName}
            AND event_type = 3
        ) a
        where a.txTime &gt;= #{startTime}
        and <![CDATA[ a.txTime <= #{endTime} ]]>
        ORDER BY a.blockHeight DESC, a.txHash, a.txIndex
    </select>

    <!--use for ONTO-->
    <select id="selectDragonTransferTxsByTimeAndPage" resultType="com.github.ontio.model.dto.TransferTxDto">
        SELECT *
        FROM
        (
            SELECT <include refid="transferTxDetailColumns" />
            FROM tbl_tx_detail
            WHERE from_address = #{address}
            and asset_name like #{assetName}
            AND event_type = 3
            UNION ALL
            SELECT <include refid="transferTxDetailColumns" />
            FROM tbl_tx_detail
            WHERE to_address = #{address}
            and asset_name like #{assetName}
            AND event_type = 3
        ) a
        where <![CDATA[ a.txTime < #{endTime} ]]>
        ORDER BY a.txTime DESC
        limit #{pageSize}
    </select>


    <select id="selectTransferTxCountByAddr" resultType="java.lang.Integer">
        SELECT count(1)
        FROM tbl_tx_detail
        WHERE from_address = #{address}
        OR to_address = #{address}
    </select>

</mapper>