<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.mapper.TxEventLogMapper">
  <resultMap id="BaseResultMap" type="com.github.ontio.model.dao.TxEventLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="tx_hash" jdbcType="VARCHAR" property="txHash" />
    <result column="tx_type" jdbcType="INTEGER" property="txType" />
    <result column="tx_time" jdbcType="INTEGER" property="txTime" />
    <result column="block_height" jdbcType="INTEGER" property="blockHeight" />
    <result column="block_index" jdbcType="INTEGER" property="blockIndex" />
    <result column="fee" jdbcType="DECIMAL" property="fee" />
    <result column="confirm_flag" jdbcType="INTEGER" property="confirmFlag" />
    <result column="event_log" jdbcType="VARCHAR" property="eventLog" />
    <result column="called_contract_hash" jdbcType="VARCHAR" property="calledContractHash" />
    <result column="ontid_tx_flag" jdbcType="BIT" property="ontidTxFlag" />
  </resultMap>

  <cache type="com.github.ontio.config.RedisCache">
    <property name="eviction" value="LRU" />
    <property name="size" value="1024" />
    <property name="readOnly" value="false" />
  </cache>

  <sql id="txBasicColumns">
    tx_hash as txHash,
    tx_type as txType,
    tx_time as txTime,
    block_height as blockHeight,
    confirm_flag as confirmFlag,
    block_index as blockIndex,
    fee as fee
  </sql>


  <select id="queryTxCount" resultType="java.lang.Integer">
    select count(1)
    from tbl_tx_eventlog
    where tx_time &gt;= #{startTime}
    and <![CDATA[ tx_time <= #{endTime} ]]>
  </select>


  <select id="selectTxLogByHash"  resultType="com.github.ontio.model.dto.TxEventLogDto">
    select
      tx_hash AS txHash,
      tx_type AS txType,
      tx_time AS txTime,
      block_height AS blockHeight,
      confirm_flag AS confirmFlag,
      block_index AS blockIndex,
      fee AS fee,
      event_log AS eventLog,
      ontid_tx_flag AS ontidTxFlag,
      called_contract_hash AS calledContractHash
    from tbl_tx_eventlog
    where tx_hash = #{txHash}
    limit 1
  </select>


  <select id="selectTxsByPage" parameterType="java.lang.Integer" resultType="com.github.ontio.model.dto.TxEventLogDto">
    SELECT tx_hash AS txHash,
      tx_type AS txType,
      tx_time AS txTime,
      block_height AS blockHeight,
      confirm_flag AS confirmFlag,
      block_index AS blockIndex,
      fee AS fee,
      event_log AS eventLog,
      ontid_tx_flag AS ontidTxFlag,
      called_contract_hash AS calledContractHash
    FROM tbl_tx_eventlog tx
           INNER JOIN (
      SELECT id
      FROM tbl_tx_eventlog
      WHERE id &lt;= (SELECT max(id) - #{startIndex} FROM tbl_tx_eventlog)
      ORDER BY id DESC
      LIMIT #{pageSize}
    ) tmp ON tx.id = tmp.id
  </select>

  <select id="selectNonontidTxsByPage" parameterType="java.lang.Integer" resultType="com.github.ontio.model.dto.TxEventLogDto">
    SELECT tx_hash AS txHash,
      tx_type AS txType,
      tx_time AS txTime,
      block_height AS blockHeight,
      confirm_flag AS confirmFlag,
      block_index AS blockIndex,
      fee AS fee,
      event_log AS eventLog,
      ontid_tx_flag AS ontidTxFlag,
      called_contract_hash AS calledContractHash
    FROM tbl_tx_eventlog
    WHERE ontid_tx_flag = FALSE
    ORDER BY block_height DESC
    LIMIT #{startIndex}, #{pageSize}
  </select>

  <select id="selectTxsByCalledContractHash" resultType="com.github.ontio.model.dto.TxEventLogDto">
    select <include refid="txBasicColumns"/>
    from tbl_tx_eventlog
    where called_contract_hash = #{calledContractHash}
    order by block_height desc
    limit #{startIndex}, #{pageSize}
  </select>

  <select id="selectCountByCalledContracthash" resultType="java.lang.Integer">
    select count(1)
    from tbl_tx_eventlog
    where called_contract_hash = #{calledContractHash}
  </select>

  <select id="selectTxsByBlockHeight" parameterType="java.lang.Integer" resultType="com.github.ontio.model.dto.TxBasicDto">
    select <include refid="txBasicColumns" />
    from tbl_tx_eventlog
    where block_height = #{blockHeight}
    order by block_index
  </select>

  <select id="queryTxFeeByParam" resultType="java.math.BigDecimal">
    select sum(fee)
    from tbl_tx_eventlog
    where called_contract_hash in
    <foreach collection="contractList" item="item" index="index" separator="," open="(" close=")">
      #{item}
    </foreach>
    and tx_time >= #{startTime}
    and <![CDATA[ tx_time < #{endTime} ]]>
  </select>


  <select id="queryTxCountByParam" resultType="java.lang.Integer">
    select count(1)
    from tbl_tx_eventlog
    where called_contract_hash in
    <foreach collection="contractList" item="item" index="index" separator="," open="(" close=")">
      #{item}
    </foreach>
    and tx_time >= #{startTime}
    and <![CDATA[ tx_time <= #{endTime} ]]>
  </select>

</mapper>