<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.mapper.UserAddressMapper">
  <resultMap id="BaseResultMap" type="com.github.ontio.model.dao.UserAddress">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ont_id" jdbcType="VARCHAR" property="ontId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="strategy" jdbcType="INTEGER" property="strategy" />
    <result column="include_oep_token" jdbcType="BIT" property="includeOepToken" />
    <result column="amount_threshold" jdbcType="DECIMAL" property="amountThreshold" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
  </resultMap>


  <update id="saveUserAddress" parameterType="com.github.ontio.model.dao.UserAddress">
    INSERT INTO tbl_user_address
    (
    ont_id,
    address,
    note,
    strategy,
    include_oep_token,
    amount_threshold,
    channel
    )
    VALUES
    <foreach collection="list" item="item" separator=",">
    (
    #{item.ontId},
    #{item.address},
    #{item.note},
    #{item.strategy},
    #{item.includeOepToken},
    #{item.amountThreshold},
    #{item.channel}
    )
    </foreach>
    ON DUPLICATE KEY UPDATE
    note=values(note),
    strategy=values(strategy),
    include_oep_token=values(include_oep_token),
    amount_threshold=values(amount_threshold),
    channel=values(channel)
  </update>

</mapper>