<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.dao.TransactionDetailMapper">
  <resultMap id="BaseResultMap" type="com.github.ontio.model.TransactionDetail">
    <id column="txnhash" jdbcType="VARCHAR" property="txnhash" />
    <id column="txnindex" jdbcType="INTEGER" property="txnindex" />
    <result column="txntype" jdbcType="INTEGER" property="txntype" />
    <result column="txntime" jdbcType="INTEGER" property="txntime" />
    <result column="height" jdbcType="INTEGER" property="height" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="fee" jdbcType="DECIMAL" property="fee" />
    <result column="assetname" jdbcType="VARCHAR" property="assetname" />
    <result column="fromaddress" jdbcType="VARCHAR" property="fromaddress" />
    <result column="toaddress" jdbcType="VARCHAR" property="toaddress" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="blockindex" jdbcType="INTEGER" property="blockindex" />
    <result column="confirmflag" jdbcType="INTEGER" property="confirmflag" />
  </resultMap>
  <sql id="Base_Column_List">
    txnhash, txnindex, txntype, txntime, height, amount, fee, assetname, fromaddress, 
    toaddress, description, blockindex, confirmflag
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.github.ontio.model.TransactionDetailKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_ont_txn_detail
    where txnhash = #{txnhash,jdbcType=VARCHAR}
      and txnindex = #{txnindex,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.github.ontio.model.TransactionDetailKey">
    delete from tbl_ont_txn_detail
    where txnhash = #{txnhash,jdbcType=VARCHAR}
      and txnindex = #{txnindex,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.github.ontio.model.TransactionDetail">
    insert into tbl_ont_txn_detail (txnhash, txnindex, txntype, 
      txntime, height, amount, 
      fee, assetname, fromaddress, 
      toaddress, description, blockindex, 
      confirmflag)
    values (#{txnhash,jdbcType=VARCHAR}, #{txnindex,jdbcType=INTEGER}, #{txntype,jdbcType=INTEGER}, 
      #{txntime,jdbcType=INTEGER}, #{height,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, 
      #{fee,jdbcType=DECIMAL}, #{assetname,jdbcType=VARCHAR}, #{fromaddress,jdbcType=VARCHAR}, 
      #{toaddress,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{blockindex,jdbcType=INTEGER}, 
      #{confirmflag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.github.ontio.model.TransactionDetail">
    insert into tbl_ont_txn_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="txnhash != null">
        txnhash,
      </if>
      <if test="txnindex != null">
        txnindex,
      </if>
      <if test="txntype != null">
        txntype,
      </if>
      <if test="txntime != null">
        txntime,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="fee != null">
        fee,
      </if>
      <if test="assetname != null">
        assetname,
      </if>
      <if test="fromaddress != null">
        fromaddress,
      </if>
      <if test="toaddress != null">
        toaddress,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="blockindex != null">
        blockindex,
      </if>
      <if test="confirmflag != null">
        confirmflag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="txnhash != null">
        #{txnhash,jdbcType=VARCHAR},
      </if>
      <if test="txnindex != null">
        #{txnindex,jdbcType=INTEGER},
      </if>
      <if test="txntype != null">
        #{txntype,jdbcType=INTEGER},
      </if>
      <if test="txntime != null">
        #{txntime,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        #{height,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="fee != null">
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="assetname != null">
        #{assetname,jdbcType=VARCHAR},
      </if>
      <if test="fromaddress != null">
        #{fromaddress,jdbcType=VARCHAR},
      </if>
      <if test="toaddress != null">
        #{toaddress,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="blockindex != null">
        #{blockindex,jdbcType=INTEGER},
      </if>
      <if test="confirmflag != null">
        #{confirmflag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.ontio.model.TransactionDetail">
    update tbl_ont_txn_detail
    <set>
      <if test="txntype != null">
        txntype = #{txntype,jdbcType=INTEGER},
      </if>
      <if test="txntime != null">
        txntime = #{txntime,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="fee != null">
        fee = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="assetname != null">
        assetname = #{assetname,jdbcType=VARCHAR},
      </if>
      <if test="fromaddress != null">
        fromaddress = #{fromaddress,jdbcType=VARCHAR},
      </if>
      <if test="toaddress != null">
        toaddress = #{toaddress,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="blockindex != null">
        blockindex = #{blockindex,jdbcType=INTEGER},
      </if>
      <if test="confirmflag != null">
        confirmflag = #{confirmflag,jdbcType=INTEGER},
      </if>
    </set>
    where txnhash = #{txnhash,jdbcType=VARCHAR}
      and txnindex = #{txnindex,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.ontio.model.TransactionDetail">
    update tbl_ont_txn_detail
    set txntype = #{txntype,jdbcType=INTEGER},
      txntime = #{txntime,jdbcType=INTEGER},
      height = #{height,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      fee = #{fee,jdbcType=DECIMAL},
      assetname = #{assetname,jdbcType=VARCHAR},
      fromaddress = #{fromaddress,jdbcType=VARCHAR},
      toaddress = #{toaddress,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      blockindex = #{blockindex,jdbcType=INTEGER},
      confirmflag = #{confirmflag,jdbcType=INTEGER}
    where txnhash = #{txnhash,jdbcType=VARCHAR}
      and txnindex = #{txnindex,jdbcType=INTEGER}
  </update>


  <select id="selectTxnDetailByHash" parameterType="java.lang.String" resultType="java.util.Map">
    select ToAddress, FromAddress, Amount, AssetName
    from tbl_ont_txn_detail
    where txnhash = #{txnHash}
  </select>

  <select id="selectBalanceByAddress" parameterType="java.lang.String" resultType="java.util.Map">
    select sum(amount) as Balance, assetname as AssetName
    from tbl_ont_txn_detail
    where toaddress = #{address}
    and spendflag = 0
    GROUP BY assetid
  </select>

  <select id="selectTxnHashByAddressInfo" resultType="java.lang.String" parameterType="java.util.Map">
    select distinct(txnhash) as TxnHash
    from tbl_ont_txn_detail
    where (
    toaddress = #{Address}
    <if test="AssetName != '' and AssetName != null">
      and assetname = #{AssetName}
    </if>
    ) or (
    fromaddress = #{Address}
    <if test="AssetName != '' and AssetName != null">
      and assetname = #{AssetName}
    </if>
    )
    order by height DESC
    limit #{Start}, #{PageSize}
  </select>

    <select id="selectTxnAmountByAddressInfo" resultType="java.lang.Integer" parameterType="java.util.Map">
      select count(distinct(txnhash))
      from tbl_ont_txn_detail
      where (
      toaddress = #{Address}
      <if test="AssetName != '' and AssetName != null">
        and assetname = #{AssetName}
      </if>
      ) or (
      fromaddress = #{Address}
      <if test="AssetName != '' and AssetName != null">
        and assetname = #{AssetName}
      </if>
      )
    </select>


</mapper>